.JoinGroupParentDiv {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.JoinGroupText {
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 1.5em;
}

.JoinGroupInstructions {
    color: rgb(178, 178, 178);
    font-size: 1em;
}
